<div class="v-header container-new">
  <div class="fullscreen-video-wrap">
      <video src="../../../assets/videos/people-football.mp4" type="video/mp4" autoplay="true" loop="true" controls muted></video>
  </div>
  <div class="header-overlay">

  </div>
  <div  class="header-content text-center d-flex flex-column justify-content-center align-items-center">
    <div class="content-box">

      <h1 class="text-green">Witaj</h1>

      <div class="description">
        <p class="text-center text-green">
             Aplikacja na którą spoglądasz jest stworzona w ramach pracy dyplomowej.
        </p>
        <p class="text-center text-green">
            Celem pracy jest stworzenie aplikacji, która pozwoli zapisywać się na towarzyskie mecze piłkarskie w danym mieście. Aplikacja będzie dostępna dla osób chcących wspólne pograć w piłkę nożną i spędzić razem wolny czas. Obsłuży dwie główne grupy użytkowników systemu: organizatorów spotkań oraz ich uczestników. 
        </p>
         <p class="text-center text-green">
         Jeżeli masz jakiekolwiek pytania. Chętnie na na odpowiem pod adresem email: 
          <strong><a class="text-purple" href= "mailto: football.neighborhood.app@gmail.com">football.neighborhood.app@gmail.com</a></strong>
        </p>
      </div>
      <div class="text-green">
        Aplikacja stworzna przez: Dominika Atrasika. Repozytorium do wygladu jest dostępne pod adresem: <strong> <a class="text-purple" href="https://github.com/NoEducation/FootballNeighborhood">https://github.com/NoEducation/FootballNeighborhood</a> </strong>
      </div>
      <div >
        <img class="football-image" src="../../../assets/images/football-field-soccer-field-svgrepo-com.svg" />
      </div>
    </div>
  </div>
</div>