.no-data{
  text-align: center;
  background-color: #1B2631;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px 0 5px 0;
}


.user-is-assinged-box{
  color: white;
  border-radius: 5px;
  padding: 10px;
  background-color: #28A480;
}