<div class="w-100 d-flex flex-column">
  <div class="mt-5 p-5">
    <div class="d-flex justify-content-between">
      <h3 class="color-green-light">Mecze na które można się zapisać</h3>
      <button (click)="back()" class="action-button" mat-stroked-button color="primary"> Powrót <mat-icon>keyboard_arrow_left</mat-icon></button>
    </div>
    <hr>
    <div class="w-100 d-flex justify-content-center">
      <mat-form-field >
        <mat-label class="font-set">Miasto</mat-label>
        <input (change)="cityChanged($event)" [(ngModel)]="city"  name="city" matInput required>
      </mat-form-field>
      <button class="mx-2" mat-fab color="primary">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <table mat-table [dataSource]="availableMatches" class="mat-elevation-z8" *ngIf="availableMatches && availableMatches.length > 0">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nazwa </th>
        <td mat-cell *matCellDef="let match"> {{match.name}} </td>
      </ng-container>

      <ng-container matColumnDef="ownerDisplayName">
        <th mat-header-cell *matHeaderCellDef> Twórca </th>
        <td mat-cell *matCellDef="let match"> {{match.ownerDisplayName}} </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> Miasto </th>
        <td mat-cell *matCellDef="let match"> {{match.city}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let match"> {{match.startTime | date:'yyyy-MM-dd'}} </td>
      </ng-container>

      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef> Start </th>
        <td mat-cell *matCellDef="let match"> {{match.startTime | date:'hh-mm'}} </td>
      </ng-container>

      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef> Koniec </th>
        <td mat-cell *matCellDef="let match"> {{match.endTime | date:'hh-mm'}} </td>
      </ng-container>

      <ng-container matColumnDef="addressLine">
        <th mat-header-cell *matHeaderCellDef> Adres </th>
        <td mat-cell *matCellDef="let match"> {{match.addressLine}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Akcje</th>
        <td mat-cell *matCellDef="let match">
          <button (click)="assign(match.matchId)"
          mat-raised-button color="primary"> Zapisz się <mat-icon>assignment_turned_in</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div *ngIf="!city">
      <div class="no-data">
        <h4 class="color-purple mt-2">Wprowadz miasto</h4>
      </div>
    </div>

    <div *ngIf="city && (!availableMatches || availableMatches.length ==0 )" class="no-data">
      <h4 class="color-purple mt-2">Aktualnie nie ma spoktania dla miasta: {{city}}</h4>
    </div>

  </div>
  <div>

  </div>
</div>
