html,
body {
    height: 100%;
    margin: 0;
    font-family: Abel, "Helvetica Neue", sans-serif;
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #41C8ED;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3f51b5;
}

body{
  background-color: #17202A ;
}

.color-orange{
  color: #a8602a;
}
