@import url('https://fonts.googleapis.com/css2?family=Kalam');
@import "variables.scss";

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Kalam';
    font-size: 14px;
    background-color: $base-background ;
}

.font-set{
  font-family: 'Kalam';
  font-size: 14px;
}

.mat-mdc-form-field-input-control.mat-mdc-form-field-input-contro{
  font-family: 'Kalam' !important;
  font-size: 14px;
}

.base-background{
  background-color: $base-background ;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #69f0ae;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #28A480 ;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #28A480 ;
}

.color-orange{
  color: #a8602a;
}

.color-green-light{
  color: #69f0ae;
}

.color-green-dark{
  color: #25563e;
}

.color-purple{
  color: #7b1fa2;
}

.color-warning{
  color: $warning-color;
}

.color-info{
  color: #2952CC;
}

.color-error{
  color: #A73636;
}
.mat-datepicker-toggle, .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button {
  color: #7b1fa2;
}
.warning-notification-style {
  color: $warning-color !important;
  background-color: #FFFAF1 !important;
  border: 1px solid $warning-color !important;
}

.warning-notification-style .mat-simple-snackbar-action {
  color: $warning-color !important;
}

.error-notification-style {
  color: #FDF4F4 !important;
  background-color: #A73636  !important;
  border: 1px solid #A73636 !important;
}

.error-notification-style .mat-simple-snackbar-action {
  color: #A73636 !important;
}

.info-notification-style {
  color: #2952CC !important;
  background-color: #F3F6FF !important;
  border: 1px solid #2952CC !important;
}

.info-notification-style .mat-simple-snackbar-action {
  color: #2952CC !important;
}

.error-icon {
  border: 8px solid #FDF4F4;
  background-color: #FCEEEE;
  border-radius: 50%;
  width: 48px !important;
  height: 48px !important;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
}

.info-icon {
  border: 8px solid #F3F6FF;
  background-color: #E0E8FF;
  border-radius: 50%;
  width: 48px !important;
  height: 48px !important;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
}

.check_circle-notification-style {
  color: #28A480 !important;
  border: 1px solid #28A480 !important;
}

.check_circle-notification-style .mat-simple-snackbar-action {
  color: #28A480 !important;
}

.mat-mdc-snack-bar-container{
  &.error-notification-style{
    --mat-mdc-snack-bar-button-color: #FDF4F4;
    --mdc-snackbar-container-color: #A73636;
    --mdc-snackbar-supporting-text-color: #FDF4F4;
  }
}

.mat-mdc-snack-bar-container{
  &.warning-notification-style{
    --mat-mdc-snack-bar-button-color: #FDF4F4;
    --mdc-snackbar-container-color: $warning-color;
    --mdc-snackbar-supporting-text-color: #FDF4F4;
  }
}

.mat-mdc-snack-bar-container {
  &.check_circle-notification-style {
    --mdc-snackbar-container-color: #28A480;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
    color: #28A480 !important;
    border: 1px solid #28A480 !important;
  }
}
