.forgot-password-style {
    position: absolute;
    bottom: -1.1rem;
    right: -1.5rem;
    font-size: 12px;
    font-weight: 600;
    z-index: 1;
}

.forgot-password-style:hover {
    color: #41C8ED !important;
    cursor: pointer !important;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

.login-image-style {
    max-height: 98vh;
    max-width: 70vw;
    user-select: none !important;
    -webkit-user-select: none !important;
    /* iOS Safari */
}

.logo {
    max-width: 8rem;
}

mat-card {
    max-width: 400px;
    margin: 19em auto;
    text-align: center;
}

mat-form-field {
    display: block;
}

.progress-bar {
    position: absolute;
    bottom: 0;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}