<div fxLayout="row" fxFlex>
  <div fxFill fxLayoutAlign="center">
    <div class="flex-container">
      <div class="text-center">
        <img src="./assets/images/logo.svg" class="logo-image mt-2" alt="Football Neighborhood" draggable="false">
      </div>
      <div class="mb-auto mt-auto">
        <div *ngIf="isConfirmationActive">
          <div *ngIf="verificationInProgress">
            <h4 class="color-green-light text-center"> Twoje konto jest weryfikowane...</h4>
          </div>
          <div *ngIf="success" class="text-center">
            <h4 class="color-green-light ">Twoje konto zostało aktywowane!</h4>
            <small class="color-green-light">Możesz zalogować się do aplikacji</small>
          </div>
        </div>
        <div *ngIf="!isConfirmationActive && verificationInProgress === false">
          <h4 class="mt-3 color-green-light  text-center">Link aktywacjny werfikacyjny stracił ważność</h4>
          <div class="d-flex justify-content-center">
            <button class="mt-3 text-center" mat-raised-button color="primary" (click)="resendConfirmation()">
              <mat-icon class="material-symbols-outlined">replay</mat-icon>&nbsp;Wyślij ponownie link aktywacyjny
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="success || !verificationInProgress" class="mt-3 d-flex align-items-center justify-content-center">
        <button class="color-green-light" mat-icon-button (click)="redirectToLoginPage()">
          <mat-icon class="color-green-light">arrow_back</mat-icon>
        </button>
        <b class="color-green-light">

          &nbsp;Powrót do logowania
        </b>

      </div>
      <div class="login-footer-style ">
        <p><small class="text-center user-select-none color-green-light">Dominik Atrasik Praca Inżynieryjska {{year}}</small></p>
      </div>
    </div>
  </div>
</div>