.login-image-style {
    max-height: 98vh;
    max-width: 70vw;
    user-select: none !important;
    -webkit-user-select: none !important;
  }
  
  .logo {
    max-width: 8rem;
  }
  
  mat-card {
    max-width: 400px;
    margin: 19em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }

.login-footer-style{
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}