.input-contianer{
  padding: 0px 5rem 0px 5rem;
  // margin: 0px 5rem 5rem 5rem;
}
.header-contianer{
  padding: 0px 5rem 0px 5rem;
}

.left-datetime-picker{
  margin-right: 10px;
}

.player-image{
  text-align: center;
  max-height: 400px;
}

.action-button{
  margin-right: 5px;
}

.box-info-success,
.box-info-warning{
  border-radius: 5px;
  padding: 10px;
  color: white;
  min-width: 70px;
  text-align: center;
}

.box-info-success{
  background-color: #28A480;
}

.box-info-warning{
  background-color: #F2A10D;
}