
.input-contianer{
  padding: 0px 5rem 0px 5rem;
  // margin: 0px 5rem 5rem 5rem;
}
.header-contianer{
  padding: 0px 5rem 0px 5rem;
}

.left-datetime-picker{
  margin-right: 10px;
}

.player-image{
  text-align: center;
  max-height: 400px;
}

.action-button{
  margin-right: 5px;
}
