.container-size {
    border-radius: 12px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-bottom: 2rem;
}

@media only screen and (min-height: 925px) {
    .copyright-style {
        position: absolute;
        bottom: 1rem;
    }
}

.progress-bar {
    position: fixed;
    bottom: 0;
}

.sidenav-style {
    width: 20%;
}

.mat-select {
    width: initial;
}

.bottom-nav{
  margin-top: 50px;
}

.logo{
  max-width: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
}
