@import "../../variables.scss";

.no-data{
  text-align: center;
  background-color: #1B2631;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px 0 5px 0;
}

.box-info-success,
.box-info-primary,
.box-info-seconary,
.box-info-warning{
  border-radius: 5px;
  padding: 10px;
  color: white;
  min-width: 70px;
  text-align: center;
}

.box-info-success{
  background-color: #28A480;
}

.box-info-warning{
  background-color: #F2A10D;
}

.box-info-primary{
  background-color: #262626;
}

.box-info-seconary{
  background-color: #b647ef;
}
.header-label{
  margin-left: 5px;
}